---
---
$base-color: #eaeaea;
$primary-color: #b5e853;
$disabled-color: #ff2323;

$special-base-color: #ffeb3b;
$special-primary-color: #9C27B0;
$special-disabled-color: #000000;

@import "{{ site.theme }}";
{% include highlight-js/styles/hljs-theme.css %}
{% include highlight-js/styles/hljs-line-numbers.css %}
.hljs {
	background: #030303;
}
@import "magic-check/sass/magic-check.scss";

body,
textarea,
code {
  font-family: 'Roboto Mono', monospace;
}

.container {
  max-width: 1280px;
}

.content {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  color: $base-color;
  display: block;
  width: 100% !important;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  resize: vertical;
}

.config {
  font-size: smaller;
  color: #595656;

  &.tab-content {
    padding: 0 1rem 0;
    text-align: center;
  }

  .methods-wrap {
    border-bottom: 1px solid #292929;
    margin-bottom: 1rem;
  }

  input {
    margin-right: 4px;
    vertical-align: middle;

    &:checked + label {
      color: $base-color;
    }
  }

  label {
    display: inline-block;
    margin: 0 1rem 1rem 0;
  }
}

.center {
  text-align: center;
  margin: 20px 0;
}

.btn {
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    outline: 0 none;
  }

  &:active {
    background: rgba(0, 0, 0, 0.8);
    color: $primary-color;
  }

  &::-moz-focus-inner {
    border: 0 none;
  }

  &:disabled {
    cursor: not-allowed;
    background: #141414;
    border-color: #1b1b1b;
    color: #525252;
  }
}

#view {
  transition: opacity ease-in-out 0.2s;

  &.waiting {
    opacity: 0.3;

    &:empty:before {
      content: 'Please wait...';
    }
  }

  &:empty:before {
    content: 'Please choose a right encoding type!';
  }
}

.magic-radio[disabled] + label {
  color: $disabled-color;

  &:before,
  &:hover:before {
    border-color: $disabled-color;
  }
}

sup {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #afafaf;
  margin-left: 1rem;
  padding: 1px 4px;
  border: 1px solid #111;
  background: #444;
  border-radius: 4px;
  text-shadow: initial;
}

#nicify {
  & + label {
    color: $special-base-color;

    &:before {
      border-color: $special-base-color;
    }

    &:hover:before {
      animation-name: special-hover-color;
    }

    &:after {
      background: $special-primary-color;
    }
  }

  &[disabled] + label {
    color: $special-disabled-color;

    &:before {
      border-color: $special-disabled-color;
    }

    &:hover:before {
      animation: initial;
    }
  }

  &:checked + label {
    color: $special-primary-color;

    &:before {
      border-color: $special-primary-color;
    }
  }
}

@keyframes special-hover-color {
  from {
    border-color: $special-base-color;
  }

  to {
    border-color: $special-primary-color;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0.5rem;
  margin-bottom: 0;
  color: #6a707e;
}

.view-wrap {
  position: relative;

  &:hover .view-control {
    opacity: 1;
  }
}

.view-control {
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 10;
  opacity: 0;
  transition: opacity 200ms;

  .btn {
    display: block;
    background: #000;
    border: 0 none;
    box-shadow: initial;
    border-radius: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    transition: background 200ms;
    text-align: center;
    float: right;

    &:hover {
      background: #444;
    }

    &:active {
      background: #222;
    }

    .btn-icon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
}

#copyjs {
  &.copied {
    background: $primary-color;
  }

  &.selected {
    background: $disabled-color;
  }
}

#preview,
#download,
.tab-content {
  display: none;

  &.show {
    display: block;
  }
}

.tab-content {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

.tab {
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
  color: #999;
  font-size: 30px;
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }

  &.active,
  &:hover,
  &:focus {
    color: #b5e853;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    color: #eee;
    border: 2px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;

    span {
      display: block;
      padding: 0 245px 0 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: 40px;
      line-height: 40px;
    }

    strong {
      display: block;
      width: 225px;
      position: absolute;
      right: 2px;
      top: 2px;
      height: 36px;
      line-height: 36px;
      padding: 0;
      text-align: center;
      border-radius: 50px;
      background: #222;
    }
  }

  &:focus + label,
  &.has-focus + label,
  & + label:hover {
    border-color: #b5e853;

    strong {
      background: #b5e853;
      color: #111;
    }
  }
}

.drop-zone {
  border: 2px solid #eee;

  &:after {
    content: 'Drop file here';
    color: #eee;
  }

  .box,
  .render {
    visibility: hidden;
  }

  &.drop-enter {
    border-color: #b5e853;
    background: rgba(0, 0, 0, 0.4);

    &:after {
      color: #b5e853;
    }
  }
}

.render {
  max-height: 150px;
  font-size: 12px;
  overflow-x: none;
  overflow-y: auto;
  user-select: none;
}

.read-only {
  cursor: not-allowed;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQYV2NkQAP////nZUQWAwswMn6GC8IEQIrAgsgCYEF0AZAgALq9ExAOJBu5AAAAAElFTkSuQmCC);
}

.form-wrapper {
  width: 100%;

  input {
    width: 70%;
    height: 40px;
    padding: 0 20px;
    float: left;
    border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    border-radius: 50px 0 0 50px;
    color: #eee;
    box-shadow: initial;

    &::placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
    }

    &:focus {
      outline: 0;
      background: #5d5c5c;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    }
  }

  button {
    position: relative;
    float: right;
    height: 40px;
    width: 30%;
    border-radius: 0 50px 50px 0;
  }
}

small {
  color: #333;
  font-style: italic;
}

.help {
  cursor: help;
  text-decoration: none;
}

#readable {
  display: none;
}

#title.offline {
  color: $disabled-color;
}

.credit {
  color: $special-disabled-color;
  a {
    color: $special-disabled-color;
    text-decoration: none;
  }

  text-align: right;
  font-size: small;
  margin-top: 40px;
}
